<% if @bets.size > 0 %>
  <% if @viewingfilter.nil? or @viewingfilter.eql? '1' %>
    <h3>Bets for this month</h3>
  <% else %>
    <h3>Bets for <%= @viewingfilter %></h3>
  <% end %>
  <table class="box-table-a">
    <tr>
      <th>Website</th>
      <th>Priority</th>
      <th>Starts at</th>
      <th>Status</th>
    </tr>

  <% @bets.each do |bet| %>
    <tr>
      <td>
        <% if bet.issue %>
          <a href="/issues/<%= bet.issue.id %>"><%=h bet.website.name %></a>
        <% else %>
          <%=h bet.website.name %>
        <% end %>
      </td>
      <td>P<%=h bet.priority %></td>
      <td><%=h format_date(bet.happens_at) %></td>
      <td class="status_<%=h bet.status.downcase %>"><%=h bet.status %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h3>You don't have any bets for this month</h3>
<% end%>
