<h3>Registered users</h3>

<table class="box-table-a">
  <tr>
    <th>User</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Bet balance</th>
    <th>Last login</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.bet_balance %></td>
    <td><%=h format_date(user.last_login_at) %></td>
    <td>
      <form action="/admin/user/reset/<%= user.id %>" method="post">
        <input type="submit" name="submit" value="Reset"
              onClick="alert('Password reset for <%= user.username %>')" />
      </form>
    </td>
    <td>
      <form action="/admin/user/<%= user.id %>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" name="submit" value="Delete"
               onClick="return confirm('Are you sure you want to delete this user?');"/>
      </form>
    </td>
  </tr>
<% end %>
</table>

<p>
  <a href="/admin">Back</a>
</p>