<h3><%= @issue.website.name %> P<%= @issue.priority %></h3>
<%= h @issue.description %><br /><br />
The issue <b>started at </b> <%= h format_date @issue.occured_at %>.
<% if @issue.bet%> 
The winner is <b><%= h @issue.user.username if @issue.user %></b>.
The bet was placed for <%= h format_date @issue.bet.happens_at if @issue.bet %>.<br />
<% end %>
<br />
<a href="/issues">Back to issues</a>
