<h3>Service desk members</h3>

<table class="box-table-a">
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Email</th>
    <th>Free bet count</th>
    <th>Last login</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.first_name %> <%=h user.last_name %></td>
    <td><%=h user.email %></td>
    <td><%= user.p1_counts + user.p2_counts %></td>
    <td><%=h format_date(user.last_login_at) %></td>
  </tr>
<% end %>
</table>

<h3>Toplist</h3>
<canvas id="stats" width="740" height="350"></canvas>
<script type="text/javascript">
 get_toplist_stats();
</script>
<br />
